h2 {
	width: 100%;
	max-width: 600px;
	margin: auto;
	padding: 20px;
}

.form {
	margin: auto;
	width: 300px;
	display: flex;
	flex-direction: column;
	/* gap: 5px; */
}

div {
	margin: 10px;
	max-width: 550px;
	/* display: flex;
	flex-direction: row; */
	height: 40px;
	/* gap: 5px;
	padding: 25px; */
	/* box-sizing: border-box; */
}
