@font-face {
    src: url(./res/Trajan_Pro/TrajanPro-Regular.ttf);
    font-family: Trajan;
}

* {
    margin:0px;
    padding:0px;
}

body {
    font-family: Trajan;
}

#title {
    padding: 15px;
}

#header {
    margin:auto;
    width:500px;
}


.nav {
    display: flex;
}

ul {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    visibility: hidden;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    visibility: visible;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

/* FADE IN */
li.fade ul {
    opacity: 0;
}

li.fade:hover ul {
    opacity: 1;
    transition:  1s;
}

/* PERSIANA */
li.roll ul {
    overflow: hidden;
    height: 0px;
    transition: 1s;
}

li.roll:hover ul {
    height: 300px;
}