<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Segundo ejercicio Vue</title>

		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
		<div style="max-width: 300px; margin: auto; padding: 20px">
			<div id="app">
				<input
					v-model="v_nom"
					type="text"
					id="nom"
					name="nom"
					placeholder="Nom"
				/>
				<input
					v-model="v_cognom"
					type="text"
					id="cognom"
					name="cognom"
					placeholder="Cognom"
				/>
				<input
					v-model="v_adreça"
					type="text"
					id="adreça"
					name="adreça"
					placeholder="Direcció"
				/>
				<input
					v-model="v_telefon"
					type="text"
					id="telefon"
					name="telefon"
					placeholder="Teléfon"
				/>
				<button id="tarj" v-on:click="pasarATarjeta" type="button">
					Enviar a tarjeta
				</button>
				<button id="cons" v-on:click="pasarAConsole" type="button">
					Enviar a Consola
				</button>
				<span v-bind:title="loadedon">
					<p>{{ v_nom }} {{v_cognom}} ({{v_telefon}})</p>
					<p>{{v_adreça}}</p>
				</span>
			</div>
		</div>
	</body>

	<script>
		var app = new Vue({
			el: "#app",
			data: {
				v_nom: "",
				v_cognom: "",
				v_adreça: "",
				v_telefon: "",
				loadedon: "You loaded this page on " + new Date().toLocaleString(),
			},
			methods: {
				pasarATarjeta: function () {
					var inom = document.querySelector("#nom");
					var icognom = document.querySelector("#cognom");
					var iadreça = document.querySelector("#adreça");
					var itelefon = document.querySelector("#telefon");

					(this.v_nom = inom.value),
						(this.v_cognom = icognom.value),
						(this.v_adreça = iadreça.value),
						(this.v_telefon = itelefon.value);
				},
				pasarAConsole: function () {
					console.log(this.v_nom, this.v_cognom, this.v_adreça, this.v_telefon);
				},
			},
		});
	</script>
</html>
